@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    width: 1920px;
    background-color: #fcfcfc;
    margin: 0;
}

/*header part*/

header {
    width: 1368px;
    height: 634px;
    margin: 40px auto;
    background-color: #fef3df;
    padding: 16px;
    border: solid 1px #f2f2f2;
    background-clip: content-box;
    display: flex;
    position: relative;
}

.column {
    flex: 50%;
}

.text {
    width: 540px;
    height: 152px;
    top: 144px;
    left: 66px;
    bottom: 138px;
    position: absolute;

    font-size: 60px;
    font-weight: bold;
    line-height: 1.27;
    color: #333333;
    z-index: 1;
}

.Lorem {
    width: 540px;
    height: 56px;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;
    position: absolute;
    top: 332px;
    left: 66px;
}

.rectangle {
    width: 252px;
    height: 30px;
    background-color: #ffc050;
    position: absolute;
    top: 269px;
    left: 64px;
}

button {
    width: 150px;
    height: 48px;
    border-radius: 24px;
    border: none;
    outline: 0;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
}

.blue {
    background-image: linear-gradient(to right, #828fd3, #5e6dbe 51%, #5461aa);
    position: absolute;
    top: 444px;
    left: 66px;
}

.blue:hover {
    background-image: linear-gradient(to right, #5e6dbe, #5967b5 51%, #5461ab);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

.orange {
    background-image: linear-gradient(to right, #ffcd73, #f3b74c 51%, #d9a444);
    position: absolute;
    left: 246px;
    top: 444px;
}

.orange:hover {
    background-image: linear-gradient(to right, #f3b74c, #e6ae48 51%, #daa444);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

.column img {
    width: 648px;
    height: 538px;
    position: absolute;
    right: 8px;
    top: 48px;
    bottom: 48px;
}



/*Nav part*/

nav {
    width: 1400px;
    height: 88px;
    margin: 0 auto 40px auto;
    position: relative;
}


nav img {
    width: 48px;
    height: 48px;
    padding: 20px 0px;
    float: left;
}

.button-nav {
    width: 122px;
    height: 40px;
    border-radius: 18px;
    background-color: #6272c7;
    border: none;
    outline: 0;

    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    right: 0px;                         
    transform: translate(0, -50%) 
}

nav ul {
    display: flex;
    float: right;
    margin-top: 37px;
}

nav li {
    height: 14px;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    color: #858585;
    margin: 0 25px;
    text-transform: uppercase;
}

nav li a {
    color: #333333;
    text-decoration: none;
}

.right {
    margin-left: 25px;
    margin-right: 162px;
}

/*section part 1*/

.cardBackground {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 40px auto;
}

.cardBackground div {
    width: 442px;
    height: 446px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    position: relative;
}

.cardBackground div:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

.cardBackground h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #333333;

    position: absolute;
    top: 208px;
    right: 50px;
    bottom: 210px;
    left: 50px;
}

.cardBackground p {
    width: 342px;
    height: 90px;
    font-size: 16px;
    line-height: 1.88;
    color: #333333;

    position: absolute;
    top: 256px;
    right: 50px;
    bottom: 100px;
    left: 50px;
}

.landing {
    width: 128px;
    height: 128px;

    position: absolute;
    top: 40px;
    right: 256px;
    bottom: 278px;
    left: 50px;
}

.cardBackground a {
    width: 79px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #939fde;
    text-transform: uppercase;
    text-decoration: none;

    position: absolute;
    top: 386px;
    right: 313px;
    bottom: 40px;
    left: 50px;
}

.chevron {
    width: 10px;
    height: 10px;
    
    position: absolute;
    top: 391.5px;
    right: 299px;
    bottom: 44.5px;
    left: 133px;
}

/*section part 2*/

.whatwedo {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 40px auto;
    position: relative;
}

.whatwedo2 {
    width: 682px;
    height: 576px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
}

.whatwedo img {
    width: 582px;
    height: 476px;
    margin: 50px;
}

.whatwedo .h3 {
    width: 582px;
    height: 48px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    color: #333333;

    position: absolute;
    top: 112px;
    right: 50px;
    bottom: 416px;
    left: 50px;
}

.whatwedo .p1 {
    width: 582px;
    height: 60px;
    font-size: 16px;
    line-height: 1.88;
    color: #333333;

    position: absolute;
    top: 196px;
    right: 50px;
    bottom: 320px;
    left: 50px;
}

.rectangle1 {
    width: 524px;
    height: 8px;
    border-radius: 4px;
    background-color: #ffc050;

    position: absolute;
    top: 328px;
    right: 108px;
    bottom: 240px;
    left: 50px;

    z-index: 1;
}

.rectangle2 {
    width: 582px;
    height: 8px;
    border-radius: 4px;
    background-color: #f2f2f2;

    position: absolute;
    top: 328px;
    right: 50px;
    bottom: 240px;
    left: 50px;
}

.rectangle3 {
    width: 466px;
    height: 8px;
    border-radius: 4px;
    background-color: #6272c7;

    position: absolute;
    top: 392px;
    right: 166px;
    bottom: 176px;
    left: 50px;

    z-index: 1;
}

.rectangle4 {
    width: 582px;
    height: 8px;
    border-radius: 4px;
    background-color: #f2f2f2;

    position: absolute;
    top: 392px;
    right: 50px;
    bottom: 176px;
    left: 50px;
}

.rectangle5 {
    width: 407px;
    height: 8px;
    border-radius: 4px;
    background-color: #ffc050;

    position: absolute;
    top: 456px;
    right: 166px;
    bottom: 112px;
    left: 50px;

    z-index: 1;
}

.rectangle6 {
    width: 582px;
    height: 8px;
    border-radius: 4px;
    background-color: #f2f2f2;

    position: absolute;
    top: 456px;
    right: 225px;
    bottom: 112px;
    left: 50px;
}

.p2 {
    width: 291px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    color: #333333;

    position: absolute;
    top: 292px;
    left: 50px;
    right: 341px;
    bottom: 258px;
}

.p3 {
    width: 291px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    color: #333333;

    position: absolute;
    top: 356px;
    left: 50px;
    right: 341px;
    bottom: 194px;
}

.p4 {
    width: 356px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    color: #333333;

    position: absolute;
    top: 420px;
    left: 50px;
    right: 341px;
    bottom: 130px;
}

.proc1 {
    width: 291px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: right;
    color: #333333;

    
    position: absolute;
    top: 292px;
    right: 50px;
    left: 341px;
    bottom: 258px;
}

.proc2 {
    width: 291px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: right;
    color: #333333;

    
    position: absolute;
    top: 356px;
    right: 50px;
    left: 341px;
    bottom: 194px;
}

.proc3 {
    width: 291px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: right;
    color: #333333;

    
    position: absolute;
    top: 420px;
    right: 50px;
    left: 341px;
    bottom: 130px;
}

/*section part 3*/

.whatweoffer {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 40px auto;
    position: relative;
}

.whatweoffer2,
.whatweoffer3 {
    width: 682px;
    height: 576px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    position: relative;
}

.whatweoffer2 img {
    width: 582px;
    height: 476px;
    margin: 50px;
}

.whatweoffer button {
    width: 150px;
    height: 52px;
    border-radius: 24px;
    background-image: linear-gradient(to right, #828fd3, #5e6dbe 51%, #5461aa);

    position: absolute;
    right: 482px;
    top: 444px;
}
.whatweoffer button:hover {
    background-image: linear-gradient(to right, #5e6dbe, #5967b5 51%, #5461ab);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

.whatweoffer .h3 {
    width: 582px;
    height: 48px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    color: #333333;

    position: absolute;
    right: 50px;
    top: 80px;
}

.whatweoffer .p1 {
    width: 582px;
    height: 60px;
    font-size: 16px;
    line-height: 1.88;
    color: #333333;

    position: absolute;
    right: 50px;
    top: 164px;
}

.whatweoffer3 ul {
    position: absolute;
    top: 260px;
    right: 474px;
}

.whatweoffer3 li {
    height: 28px;
    font-size: 16px;
    line-height: 1.75;
    color: #333333;
    list-style-type: none;
}

.whatweoffer3 img {
    width: 12px;
    height: 12px;
    padding: 0px 8px 0px 0px;
    position: relative;
}

/*article*/

article {
    width: 1400px;
    height: 572px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    margin: 40px auto;
    display: flex;
    position: relative;
    justify-content: center;
}

article .main1,
.main2,
.main3 {
    height: 572px;
    position: relative;
}

.image1,
.image2,
.image3 {
    width: 424px;
    height: 276px;
    position: absolute;
    top: 36px;
}

.under {
    width: 424px;
    height: 276px;
    margin-top: 36px;
    background-color: #aaaaaa;
    z-index: 0;
}

.image1:hover,
.image2:hover,
.image3:hover {
    opacity: 0.1;
}


article a {
    width: 71px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;

    position: absolute;
    top: 516px;
}

article .a1 {
    left: 36px;
}

article .a2 {
    left: 14px;
}

article .a3 {
    left: 0px;
}

article .h4 {
    width: 424px;
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    color: #333333;

    position: absolute;
    top: 332px;
}

article .author {
    width: 424px;
    height: 20px;
    font-size: 12px;
    line-height: 1.67;
    color: #333333;

    
    position: absolute;
    top: 374px;
}

article .Lorem3 {
    width: 424px;
    height: 90px;
    font-size: 16px;
    line-height: 1.88;
    color: #333333;

    position: absolute;
    top: 406px;
}

article .chevron21{
    position: absolute;
    left: 111px;
    top: 521px;
    width: 10px;
    height: 10px;
}

article .chevron22 {
    position: absolute;
    left: 89px;
    top: 521px;
    width: 10px;
    height: 10px;
}

article .chevron23 {
    position: absolute;
    left: 75px;
    top: 521px;
    width: 10px;
    height: 10px;

}

article .main1 {
    padding-left: 36px;
}

article .main2 {
    padding-left: 14px;
    padding-right: 14px;
}

article .main3 {
    padding-right: 36px;
}

/*main quote*/

main {
    width: 1400px;
    height: 320px;
    margin: 40px auto;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    position: relative;
}

main img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60px;
    left: 160px;
}

main .quote {
    width: 800px;
    height: 90px;
    font-size: 18px;
    line-height: 1.67;
    color: #333333;
    position: absolute;
    top: 90px;
    left: 440px;
}

main .author {
    width: 783px;
    height: 30px;
    font-size: 14px;
    line-height: 2.14;
    color: #333333;
    position: absolute;
    top: 200px;
    left: 457px;
}

main .dash {
    width: 15px;
    height: 1px;
    background-color: #333333;
    position: absolute;
    top: 216px;
    left: 440px;
}

/*summary*/
summary {
    width: 1400px;
    height: 240px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

summary div {
    width: 245px;
    height: 120px;
    margin: auto 0;
}

summary div img {
    width: 150px;
    height: 120px;
    margin: 0 48px;
}

/*figure*/

figure {
    width: 1400px;
    height: 212px;
    background-color: #fae9c9;
    position: relative;
    margin: 40px auto;
}

figure div {
    width: 554px;
    height: 48px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    color: #333333;
    position: absolute;
    top: 82px;
    left: 50px;
}

figure button {
    width: 150px;
    height: 52px;
    background-image: linear-gradient(to right, #828fd3, #5e6dbe 51%, #5461aa);
    position: absolute;
    top: 80px;
    right: 50px;
}

figure button:hover {
    background-image: linear-gradient(to right, #5e6dbe, #5967b5 51%, #5461ab);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

/*footer*/

footer {
    width: 1920px;
    height: 518px;
    background-color: #081f26;
    margin-top: 40px;
}

footer .center {
    width: 1400px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

footer .footer {
    height: 226px;
    width: 305px;
    margin-top: 80px;
    position: relative;
}


footer .footer .h2 {
    width: 305px;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
    z-index: 1;
    position: absolute;
}

footer .footer .u {
    width: 54px;
    height: 13px;
    background-color: #ffc050;
    position: absolute;
    top: 19px;
    z-index: 0;
}

footer .Lorem4 {
    width: 305px;
    height: 150px;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;

    position: absolute;
    top: 72px;
}

footer ul {
    height: 154px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 72px;
}

footer li {
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    margin: 10px 0;
}

footer .twitter {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 80px;
    margin: auto 0;
}

footer .author {
    width: 273px;
    height: 30px;
    font-size: 16px;
    line-height: 1.88;
    color: #9ca5a8;

    position: absolute;
    top: 72px;
    left: 36px;
}

footer .comment {
    width: 273px;
    height: 90px;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;

    position: absolute;
    left: 36px;
    top: 102px;
}

footer .google {
    width: 134px;
    height: 48px;

    position: absolute;
    left: 0;
    top: 138px;
}

footer .apple {
    width: 134px;
    height: 48px;

    position: absolute;
    left: 158px;
    top: 138px;
}

.oval1 {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 100%;

    position: absolute;
    top: 352px;
    left: 161px;
}

.oval2 {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 100%;

    position: absolute;
    top: 352px;
    left: 209px;
}

.oval3 {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 100%;

    position: absolute;
    top: 352px;
    left: 257px;
}

.logos {
    padding: 6px;
}