@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    width: 1920px;
    background-color: #fcfcfc;
}

/*header part*/

header {
    width: 1368px;
    height: 634px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fef3df;
    padding: 16px;
    border: solid 1px #f2f2f2;
    background-clip: content-box;
    display: flex;
    position: relative;
}

.column {
    flex: 50%;
}

.text {
    width: 540px;
    height: 152px;
    top: 144px;
    left: 66px;
    bottom: 138px;
    position: absolute;

    font-size: 60px;
    font-weight: bold;
    line-height: 1.27;
    color: #333333;
    z-index: 1;
}

.Lorem {
    width: 540px;
    height: 56px;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;
    position: absolute;
    top: 332px;
    left: 66px;
}

.rectangle {
    width: 252px;
    height: 30px;
    background-color: #ffc050;
    position: absolute;
    top: 269px;
    left: 64px;
}

button {
    width: 150px;
    height: 48px;
    border-radius: 24px;
    border: none;
    outline: 0;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
}

.blue {
    background-image: linear-gradient(to right, #828fd3, #5e6dbe 51%, #5461aa);
    position: absolute;
    top: 444px;
    left: 66px;
}

.blue:hover {
    background-image: linear-gradient(to right, #5e6dbe, #5967b5 51%, #5461ab);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

.orange {
    background-image: linear-gradient(to right, #ffcd73, #f3b74c 51%, #d9a444);
    position: absolute;
    left: 246px;
    top: 444px;
}

.orange:hover {
    background-image: linear-gradient(to right, #f3b74c, #e6ae48 51%, #daa444);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}

.column img {
    width: 648px;
    height: 538px;
    position: absolute;
    right: 8px;
    top: 48px;
    bottom: 48px;
}



/*Nav part*/

nav {
    width: 1400px;
    height: 88px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}


nav img {
    width: 48px;
    height: 48px;
    padding: 20px 0px;
    float: left;
}

.button-nav {
    width: 122px;
    height: 40px;
    border-radius: 18px;
    background-color: #6272c7;
    border: none;
    outline: 0;

    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    right: 0px;                         
    transform: translate(0, -50%) 
}

ul {
    display: flex;
    float: right;
    margin-top: 37px;
}

li {
    height: 14px;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    color: #858585;
    margin: 0 25px;
    text-transform: uppercase;
}

li a {
    color: #333333;
    text-decoration: none;
}

.right {
    margin-left: 25px;
    margin-right: 162px;
}

/*section part*/

.cardBackground {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 40px auto;
}

.cardBackground div {
    width: 442px;
    height: 446px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    position: relative;
}

.cardBackground h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #333333;

    position: absolute;
    top: 208px;
    right: 50px;
    bottom: 210px;
    left: 50px;
}

.cardBackground p {
    width: 342px;
    height: 90px;
    font-size: 16px;
    line-height: 1.88;
    color: #333333;

    position: absolute;
    top: 256px;
    right: 50px;
    bottom: 100px;
    left: 50px;
}

.landing {
    width: 128px;
    height: 128px;

    position: absolute;
    top: 40px;
    right: 256px;
    bottom: 278px;
    left: 50px;
}

.cardBackground a {
    width: 79px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #939fde;
    text-transform: uppercase;
    text-decoration: none;

    position: absolute;
    top: 386px;
    right: 313px;
    bottom: 40px;
    left: 50px;
}

.chevron {
  width: 10px;
  height: 10px;
  
  position: absolute;
  top: 391.5px;
  right: 299px;
  bottom: 44.5px;
  left: 133px;
}